@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #008873;
}

h2 {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #75003A;
}

hr {
    border-top: 2px dotted #75003A;
    width: 100%;
    margin: 3rem 0 3rem 0;
}

/* Header section */

header {
    background-image: linear-gradient(to left, #75003A, #FF007F);
    /* fallback color if gradient does not show up */
    background-color: #FF007F;
    padding: 2rem;
    /* border-bottom: 5px solid #FF8AC4; */
    border-bottom: 5px solid #008873;
    height: 124px;
}

.logoHolder {
    margin-left: 3rem;
    float: left;
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
}

.logoText {
    font-size: 2rem;
    float: left;
    color: white;
    line-height: 60px;
    margin-left: 1rem;
}

.logo img {
    width: 100%;
}

#menu-holder {
    float: right;
    margin-right: 3rem;
    line-height: 60px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

nav li:hover {
    background-color: #FF007F;
    border-bottom: 5px solid #008873;
}

nav a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 5px solid #008873;
}

/* Hero image section */
#hero-holder {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hero-h1 {
    color: white;
    margin-bottom: 0;
}

#hero-overlay-text-box {
    color: white;
    letter-spacing: 5px;
    padding: 4rem;
    position: absolute;
    top: 33%;
    background-color: rgba(0, 136, 115, 0.7);
}

#intro-text {
    margin: 4rem;
}

#intro-text p {
    line-height: 1.8rem;
    text-align: center;
}

#intro-text a {
    color: #FF007F;
}

#intro-text a:hover {
    color: #008873;
}

/* Call To Action panels section */

#call-to-action-panels-holder {
    margin: 0 4rem 8rem 4rem;
    overflow: hidden;    
}

#call-to-action-panels-holder>div {
    width: 31%;
    margin: 1%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

#top-image img {
    width: 100%;
    /* height: fit-content; */
}

#link-panel a {
    background-color: #75003A;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100%;
}

#link-panel a:hover {
    background-color: #FF007F;
}

/* ABOUT US page styles */
#about-us, #menu, #contact {
    margin: 4rem;
}

.about-us-row {
    overflow: hidden;
}

.para-1 {
    padding: 0 2rem 1rem 0;
    line-height: 1.5rem;
    text-align: justify;
}

.para-2 {
    padding: 0 0 0 2rem;
    line-height: 1.5rem;
    text-align: justify;
}

.about-us-box img {
    padding: 0;

    border: 5px solid #00705D;
}

#page-banner-image {
    margin: 0 4rem 0 4rem;
    /* height: 200px; */
    border-bottom: 2px solid #75003A;
}

#page-banner-image > img {
    width: 100%;
}

#about-us-caption, #menu-caption {
    padding: 3rem;
    text-align: center;
    font-size: larger;
    font-style: italic;
}

#about-us-panel-holder {
    margin: 0 4rem 0 4rem;
    overflow: hidden;
}

.about-us-box {
    float: left;
    width: 50%;
}

.about-us-box img {
    width: 100%;
}

/* Menu page section */
#menu h3, #menu p {
    text-align: center;
    line-height: 2rem;
}

#menu h3 {
    margin-top: 1rem;
}

/* Contact Us section */
#contact-details {
    padding-bottom: 4rem;
    width: 50%;
    margin: 0 auto;
    line-height: 2rem;
    text-align: left;
}

#social-icons {
    text-align: center;
}

#social-icons li {
    display: inline-block;
}

#social-icons i {
    font-size: 3rem;
    color: #00705D;
    padding: 1rem;
}

/* Footer section */
footer {
    padding: 4rem;
    text-align: center;
    color: white;
    background-color: #008873;
    background-image: linear-gradient(to left, #008873, #00705D);
    /* fallback color if gradient does not show up */
    background-color: #008873;
}

/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {
    header {
        height: 148px;
        padding: 1rem;
    }

    #hero-holder,
    #hero-image {
        height: 400px;
    }

    #menu-holder {
        margin-left: 2rem;
        margin-top: 10px;
        clear: left;
        float: left;
        line-height: 30px;
    }

    nav li:hover {
        background-color: #FF8AC4;
    }

    #call-to-action-panels-holder>div {
        width: 100%;
        float: left;
        margin-bottom: 2rem;
    }

    .about-us-box {
        float: left;
        width: 100%;
    }

    .para-1, .para-2 {
        padding: 0;
    }

    .para-1 {
        margin-bottom: 2rem;
    }
}

/* For smartphone screen sizes 600px and below */
@media screen and (max-width: 600px) {

    #hero-holder,
    #hero-image {
        height: 300px;
    }

    #hero-overlay-text-box {
        padding: 4rem;
        position: absolute;
        /* left: 15%; */
        top: 15%;
    }

    #menu-holder {
        margin-right: 1rem;
    }

    nav li {
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        font-size: 14px;
    }

    footer {
        padding: 2rem;
        font-size: smaller;
    }
}