@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Header section */

header {
    background-image: linear-gradient(to left, #75003A, #FF007F);
    /* fallback color if gradient does not show up */
    background-color: #FF007F;
    padding: 32px;
    /* border-bottom: 5px solid #FF8AC4; */
    border-bottom: 5px solid #008873;
    height: 124px;
}

.logoHolder {
    margin-left: 3rem;
    float: left;
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
}

.logoText {
    font-size: 2rem;
    float: left;
    color: white;
    line-height: 60px;
    margin-left: 1rem;
}

.logo img {
    width: 100%;
}

#menu-holder {
    float: right;
    margin-right: 3rem;
    line-height: 60px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

nav li:hover {
    background-color: #FF007F;
    border-bottom: 5px solid #008873;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero image section */
#hero-holder {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-overlay-text-box {
    color: white;
    letter-spacing: 5px;
    padding: 4rem;
    position: absolute;
    /* left: 15%; */
    top: 33%;
    background-color: rgba(0, 136, 115, 0.7);
    /* background-color: rgba(255, 0, 127, 0.5); */
}

/* Footer section */
footer {
    padding: 4rem;
    text-align: center;
    color: white;
    background-color: #008873;
}

/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {
    header {
        height: 164px;
    }
    #hero-holder, #hero-image {
        height: 400px;
    }
    #menu-holder {
        margin-left: 2rem;
        margin-top: 10px;
        clear: left;
        float: left;
        line-height: 30px;
    }
    nav li:hover {
        background-color: #FF8AC4;
    }
}

/* For smartphone screen sizes 600px and below */
@media screen and (max-width: 600px) {
    #hero-holder, #hero-image {
        height: 300px;
    }
    #hero-overlay-text-box {
        padding: 4rem;
        position: absolute;
        /* left: 15%; */
        top: 15%;
    }
    #menu-holder {
        margin-right: 1rem;
    }
    nav li {
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        font-size: 14px;
    }
    footer {
        padding: 2rem;
        font-size: smaller;
    }
}